Package: com.junesiphone.weatheranimations
Name: WeatherAnimations
Depends: mobilesubstrate
Version: 0.6
Architecture: iphoneos-arm
Description: Weather app animations on the ls and sb
Maintainer: June <junesgraphics@gmail.com>
Author: JunesiPhone <junesgraphics@gmail.com>
Section: Addons (Tweaks)
Depiction: http://www.junesiphone.com/supersecret/depiction.php?iframe=depiction/weatheranimations
tag: cydia::paid
