<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Weather Animations</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Must have weather.app installed and location services on.</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>com.junesiphone.weatheranimation</string>
			<key>key</key>
			<string>enabled</string>
			<key>default</key>
			<false/>
			<key>label</key>
			<string>Enable LS Animations</string>
			<key>PostNotification</key>
			<string>com.junesiphone.weatheranimation/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>com.junesiphone.weatheranimation</string>
			<key>key</key>
			<string>hidebg</string>
			<key>default</key>
			<false/>
			<key>label</key>
			<string>Remove Background</string>
			<key>PostNotification</key>
			<string>com.junesiphone.weatheranimation/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>com.junesiphone.weatheranimation</string>
			<key>key</key>
			<string>hideonnotification</string>
			<key>default</key>
			<false/>
			<key>label</key>
			<string>Hide on notification</string>
			<key>PostNotification</key>
			<string>com.junesiphone.weatheranimation/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>© JunesiPhone 2018</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>action</key>
			<string>respring:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>action</key>
			<string>launchTwitter:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Twitter</string>
		</dict>
		<dict>
			<key>action</key>
			<string>launchInstagram:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Instagram</string>
		</dict>
		<dict>
			<key>action</key>
			<string>launchWebsite:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Website</string>
		</dict>
	</array>
	<key>title</key>
	<string>Weather Animations</string>
</dict>
</plist>
